* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: rgb(48, 40, 73);
  --clr-box-shadow: rgba(48, 40, 73, 0.2);
  --clr-white: #fff;
  --clr-success: rgb(0, 190, 10);
  --clr-danger: rgb(190, 0, 0);
}

body {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

.app {
  position: relative;
}

.text-success {
  color: var(--clr-success);
}

.text-danger {
  color: var(--clr-danger);
}

.btn {
  color: var(--clr-white);
  text-align: center;
  text-decoration: none;
  background-color: var(--clr-primary);
  border: 0;
  border-radius: 5px;
}

.page-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: 0 2px 30px var(--clr-box-shadow);
  width: 380px;
  height: 280px;
  display: grid;
  place-items: center;
}

.page-content > * {
  padding: 0.2em 0;
}
