* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: rgb(48, 40, 73);
}

body {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
}

.app {
  position: relative;
}

.text-success {
  color: rgb(0, 190, 10);
}

.text-danger {
  color: rgb(190, 0, 0);
}

.btn {
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  background-color: var(--clr-primary);
  border: 0;
  border-radius: 5px;
}
